html,
body {
  background-color: #f6f3f3;
  color: #333;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.card {
  padding: 0 30px 10px;
  width: 300px;
  margin: 0 auto;
  height: 100%;
}

.card h2,
h4 {
  text-align: center;
  color: #444545;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.card h2 {
  font-size: 300%;
  margin: 10px auto 20px;
  background: linear-gradient(
    90deg,
    #0570f3,
    20%,
    #0570f3,
    60%,
    transparent 95%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card h4 {
  font-size: 150%;
  margin: 20px auto 5px;
}

.toggle-container {
  margin: 10px 0 20px;
  text-align: center;
}

.toggle-button {
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button.off {
  background-color: #f44336;
  box-shadow: 0 0 15px rgba(244, 67, 54, 0.2);
}

.toggle-button.off:hover {
  background-color: #972820;
}

.toggle-button.on {
  background-color: #4caf50;
  box-shadow: 0 0 15px rgba(76, 175, 80, 0.2);
}

.toggle-button.on:hover {
  background-color: #3a8b3c;
}

.toggle-button > svg {
  height: 75%;
  width: 75%;
  transform: translateY(3%);
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  text-align: center;
}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  width: calc(100% - 60px);
}

input[type="text"]:focus {
  outline: none;
  border-color: #4caf50;
}

.icon-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #4caf50;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.icon-button:hover {
  background-color: #388e3c;
}

.domain-list {
  margin-bottom: 15px;
  max-height: 160px;
  overflow-y: auto;
}

.domain-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.domain-item-text {
  flex-grow: 1;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.delete-icon,
.edit-icon,
.save-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: #757575;
  margin-right: 10px;
}

.delete-icon:hover {
  fill: #f44336;
}

.edit-icon:hover {
  fill: #0056b3;
}

.save-icon:hover {
  fill: #218838;
}

.domain-item-input {
  padding-left: 0;
}

.domain-list::-webkit-scrollbar {
  width: 8px;
}

.domain-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.domain-list::-webkit-scrollbar-thumb {
  background: #888;
}

.domain-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#deleteAllButton,
#addDomainButton {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  display: inline-block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#deleteAllButton:hover,
#addDomainButton:hover {
  background-color: #f44336;
}

.deleteAllButton-container {
  text-align: center;
}

.slider-container {
  text-align: center;
  margin-bottom: 20px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 10px;
  background: #e3e3e3;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ff6b6b;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slider::-webkit-slider-thumb:hover {
  background: #f44336;
}

.slider::-webkit-slider-thumb:active {
  background: #f44336;
}
